<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <title>Admin panel</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="text-light" th:href="@{/admin}"
       th:text="${currentUser.getEmail() + ' with roles: ' + currentUser.getAllRoles()}">user@email.com with roles:
        ROLE</a>
    <a class="text-secondary" th:href="@{/logout}" th:text="Logout">Logout href</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-0">
            <p>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/admin" class="btn btn-primary btn-block text-left" type="button">Admin</a>
            </div>
            <a href="/user" class="btn btn-link btn-block text-left" type="button">User</a>
            </p>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-10 bg-light">
            <p>
            <h1>Admin panel</h1></p>
            <div class="tabbable" id="tabs-981335">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#user_table" data-toggle="tab">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#new_user" data-toggle="tab">New User</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="user_table">
                        <div class="card">
                            <div class="card-header">
                                <div class="font-weight-bold">All users</div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user: ${users}">
                                        <td th:text="${user.getId()}">Id</td>
                                        <td th:text="${user.getFirstName()}">First Name</td>
                                        <td th:text="${user.getLastName()}">Last Name</td>
                                        <td th:text="${user.getAge()}">Age</td>
                                        <td th:text="${user.getEmail()}">Email</td>
                                        <td th:text="${user.getAllRoles()}">Roles</td>
                                        <td>
                                            <a id="modalEdit" href="#modal-container-edit"
                                               role="button" class="btn btn-info" data-toggle="modal">Edit</a>

                                            <div class="modal fade" id="modal-container-edit" role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="myModalEdit">
                                                                Edit user
                                                            </h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 text-center">
                                                                    <form id="editForm" th:method="PATCH"
                                                                          th:action="@{'/admin/' + ${user.getId()}}"
                                                                          th:object="${user}">
                                                                        <div class="form-group">
                                                                            <label for="firstNameEdit"
                                                                                   class="font-weight-bold">First
                                                                                name</label>
                                                                            <input type="text" class="form-control"
                                                                                   th:field="*{firstName}"
                                                                                   id="firstNameEdit">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="lastNameEdit"
                                                                                   class="font-weight-bold">Last
                                                                                name</label>
                                                                            <input type="text" class="form-control"
                                                                                   th:field="*{lastName}"
                                                                                   id="lastNameEdit">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="ageEdit"
                                                                                   class="font-weight-bold">Age</label>
                                                                            <input type="text" class="form-control"
                                                                                   th:field="*{age}"
                                                                                   id="ageEdit">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="emailEdit"
                                                                                   class="font-weight-bold">Email</label>
                                                                            <input type="text" class="form-control"
                                                                                   th:field="*{email}"
                                                                                   id="emailEdit">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="passwordEdit"
                                                                                   class="font-weight-bold">Password</label>
                                                                            <input type="text" class="form-control"
                                                                                   th:field="*{password}"
                                                                                   id="passwordEdit">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal"> Close
                                                            </button>
                                                            <button form="editForm" type="submit"
                                                                    class="btn btn-primary">
                                                                Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a id="modalDelete" href="#modal-container-568781"
                                               role="button" class="btn btn-danger" data-toggle="modal">Delete</a>
                                            <div class="modal fade" id="modal-container-568781" role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="myModalLabel">
                                                                Delete user
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 text-center">
                                                                    <form>
                                                                        <fieldset disabled>
                                                                            <div class="form-group">
                                                                                <label for="idDelete"
                                                                                       class="font-weight-bold">ID</label>
                                                                                <input type="text" id="idDelete"
                                                                                       class="form-control"
                                                                                       th:placeholder="${user.getId()}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="firstNameDelete"
                                                                                       class="font-weight-bold">First
                                                                                    name</label>
                                                                                <input type="text" id="firstNameDelete"
                                                                                       class="form-control"
                                                                                       th:placeholder="${user.getFirstName()}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="lastNameDetele"
                                                                                       class="font-weight-bold">Last
                                                                                    name</label>
                                                                                <input type="text" id="lastNameDetele"
                                                                                       class="form-control"
                                                                                       th:placeholder="${user.getLastName()}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="ageDelete"
                                                                                       class="font-weight-bold">Age</label>
                                                                                <input type="text" id="ageDelete"
                                                                                       class="form-control"
                                                                                       th:placeholder="${user.getAge()}">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="emailDelete"
                                                                                       class="font-weight-bold">Email</label>
                                                                                <input type="text" id="emailDelete"
                                                                                       class="form-control"
                                                                                       th:placeholder="${user.getEmail()}">
                                                                            </div>
                                                                        </fieldset>
                                                                    </form>
                                                                    <label for="allRolesDelete"
                                                                           class="font-weight-bold">Role</label>
                                                                    <div id="allRolesDelete"
                                                                         th:text="${user.getAllRoles()}">All Roles
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal"> Close
                                                            </button>
                                                            <a class="btn btn-danger"
                                                               th:href="@{'/admin/delete/' + ${user.getId()}}"
                                                               role="button">Delete</a>
                                                            <form th:method="GET"
                                                                  th:action="@{'/admin/delete/' + ${user.getId()}}">
                                                                <input type="submit" class="btn btn-danger"
                                                                       value="Delete"/>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="new_user">
                        <div class="card">
                            <div class="card-header">
                                <div class="font-weight-bold">Add new user</div>
                            </div>
                            </br>
                            <div class="row justify-content-center">
                                <div class="col-4 text-center">
                                    <form th:method="POST" th:action="@{/admin}" th:object="${newuser}">
                                        <div class="form-group">
                                            <label for="firstName" class="font-weight-bold">First name</label>
                                            <input type="text" class="form-control" th:field="*{firstName}"
                                                   id="firstName" placeholder="First name">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName" class="font-weight-bold">Last name</label>
                                            <input type="text" class="form-control" th:field="*{lastName}"
                                                   id="lastName" placeholder="Last name">
                                        </div>
                                        <div class="form-group">
                                            <label for="age" class="font-weight-bold">Age</label>
                                            <input type="text" class="form-control" th:field="*{age}"
                                                   id="age" placeholder="Age">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="font-weight-bold">Email</label>
                                            <input type="text" class="form-control" th:field="*{email}"
                                                   id="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="font-weight-bold">Password</label>
                                            <input type="text" class="form-control" th:field="*{password}"
                                                   id="password" placeholder="Password">
                                        </div>
                                        <tr>
                                            <div class="font-weight-bold">Role</div>
                                            <td>
                                                <th:block th:each="role : ${roles}">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                               name="checked" th:value="${role.getId()}"
                                                               th:id="'switch' + ${role.getId()}">
                                                        <label class="custom-control-label"
                                                               th:for="'switch' + ${role.getId()}"
                                                               th:text="${role.getRoleName()}">role</label>
                                                    </div>
                                                </th:block>
                                            </td>
                                        </tr>
                                        </br>
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>