<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Пользователь</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="text-light" th:href="@{/user}" th:text="${currentUser.getEmail() + ' with roles: ' + currentUser.getAllRoles()}">user@email.com with roles: ROLE</a>
    <a class="text-secondary" th:href="@{/logout}" th:text="Logout">Logout href</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-0">
            <p>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/admin" class="btn btn-link btn-block text-left" type="button">Admin</a>
                </div>
            </p>
            <a href="/user" class="btn btn-primary btn-block text-left" type="button">User</a>
        </div>
        <div class="col-10 bg-light">
            <p><h1>User information-page</h1></p>
            <div class="card">
                <div class="card-header">
                    <div class="font-weight-bold">About user</div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${currentUser.getId()}">Id</td>
                            <td th:text="${currentUser.getFirstName()}">First Name</td>
                            <td th:text="${currentUser.getLastName()}">Last Name</td>
                            <td th:text="${currentUser.getAge()}">Age</td>
                            <td th:text="${currentUser.getEmail()}">Email</td>
                            <td th:each="role : ${currentUser.getAuthorities()}">
                                <a th:text="${role.getRoleName()}">roles</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <br/>
        </div>
    </div>
</div>

</body>
</html>